<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(pageTitle='Products', content=~{::section})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
   
<body>
	
    <section style="background-color: #FAF3E0;">
		<div class="container-fluid bg p-4  mt-5 " style="background-color: #aa261b;">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form action="/products" method="get" class="navbar">
						<div class="input-group navbar">
							<input type="text" class="form-control" name="ch">
							<button class="btn text-black ms-3 col-md-2" style="background-color: white;">
								<i class="fa-solid fa-magnifying-glass" style="color:black"></i> Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	

        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-md-2 p-0">
                    <div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded ">
                        <div class="card-body">
                            <div class="list-group">
								<p class="fs-5">Category</p>
							
								<!-- Link All -->
								<a href="/products"
								   th:classappend="${paramValue == ''} ? 'active' : ''"
								   class="list-group-item list-group-item-action"
								   aria-current="true">
									All
								</a>
							
								<!-- Link Categories -->
								<a th:each="c : ${categories}"
								   th:href="@{'/products?category=' + ${c.name}}"
								   th:classappend="${paramValue == c.name} ? 'active' : ''"
								   class="list-group-item list-group-item-action">
									[[${c.name}]]
								</a>
							</div>
							
							<style>
								.active {
									background-color: #aa261b !important; /* Nền màu đỏ cho liên kết được chọn */
									color: #fff !important; /* Màu chữ thành trắng để dễ đọc (tùy chọn) */
								}
							</style>
							
							
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center">Products</p>
                            <div class="row">
                                <th:block th:if="${productsSize > 0}">
                                    <div class="col-md-3 mt-2" th:each="p:${products}">
                                        <div class="card card-sh">
                                            <div class="card-body text-center">
                                                <img alt="" th:src="@{'/img/product_img/'+${p.image}}"
                                                    width="150px" height="150px">
                                                <p class="fs-5 text-center">[[${p.title}]]</p>
                                                <div class="row text-center">
                                                    <p class="fs-6 fw-bold">
														<th:block th:if="${p.discount > 0}">
															<span class="text-decoration-line-through text-secondary">[[${p.price}]]&#8363; </span>
															<span class="fs-6 text-success">[[${p.discount}]]% off</span><br>
														</th:block>
														<th:block th:if="${p.discount == 0}">
															<br>
														</th:block>
														<span>[[${p.discountPrice}]]&#8363; </span> 
                                                    </p>
													<a th:href="@{'/product/'+${p.id}}"
														class="btn col-md-6 offset-md-3" style="background-color: #aa261b; color:white">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:unless="${productsSize > 0}">
                                    <p class="fs-4 text-center mt-4 text-danger">Product not available</p>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!-- Start Pagination -->
					<div class="row"></div>
						<div class="col-md-4">Total Products : [[${totalElements}]]</div>
						<div class="col-md-6">
							<th:block th:if="${productsSize > 0}">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:classappend="${isFirst} ? 'disabled' : ''">
											<a class="page-link" th:href="@{'/products?pageNo=' + ${pageNo - 1}}" aria-label="Previous">
												<span aria-hidden="true">«</span>
											</a>
										</li>
										<li th:if="${totalPages == 1}" class="page-item active">
											<a class="page-link" style="background-color: #aa261b;">1</a>
										</li>
										<li th:if="${totalPages > 1}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${pageNo + 1 == i} ? 'active' : ''">
											<a class="page-link" style="background-color: #aa261b;"  th:href="@{'/products?pageNo=' + ${i - 1}}">[[${i}]]</a>
										</li>
										<li class="page-item" th:classappend="${isLast} ? 'disabled' : ''">
											<a class="page-link" th:href="@{'/products?pageNo=' + ${pageNo + 1}}" aria-label="Next">
												<span aria-hidden="true">»</span>
											</a>
										</li>
									</ul>
								</nav>
							</th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>